@import '../../constants';

.contentContainer {
  position: absolute;
  left: $sidebar-width;
  width: 100%;
}

.mapContent {
  height: 100vh;
}

.sidebar {
  padding: 1em;
  background-color: #D8D8D8;
}
