.label {
  margin-top: 2rem;
}

.content {
  margin-top: 0.5rem;
}

.clickable {
  cursor: pointer;
}

.warningText {
  color: orange;
}

.dangerText {
  color: red;
}

.safeText {
  color: green;
  cursor: pointer;
  margin-top: 0.5rem;
}
