.Header {
    background-color: #FFF;
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.ui.floating.dropdown>.menu {
    margin-top: 0.8em;
    margin-left: -8em;
}