.menuStyle {
  display: flex;
  flex-direction: column;
  height: calc(100% - 42px);
  background-color: #2159F9
}

.sideBarStyle {
  top: 42px !important;
  height: calc(100% - 42px) !important;
}

.lastTopMenu {
  border-bottom: solid 1px rgba(255, 255, 255, 0.08);
  margin-bottom: auto;
}
