.mapContainer {
  width: calc(100% - 84px); /* full width minus left sidebar */
  height: 100vh;
  overflow: hidden;
}

.placeHolderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
  font-size: 20px;
}

.clickable {
  cursor: pointer;
}
