@import '../../constants';

.mapContainer {
  width: calc(100% - $sidebar-width); /* full width minus left sidebar */
  height: calc(100vh - #{$header-height});
  overflow: hidden;
}

.placeHolderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
  font-size: 20px;
}

.clickable {
  cursor: pointer;
}
