:global #mainReliefMap {
  width: 100%;
}

.mapContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
}

.placeHolderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100%;
  font-size: 20px;
}

.map {
    height: 100%;
    width: 100%;
}
