.leaflet-div-icon {
    border: none !important;
    background: transparent !important;
}

.pinImage {
    width: 36px;
}

.iconImage {
    position: absolute;
    bottom: -16px;
    left: 4px;
}

.leaflet-tooltip-pane {
    padding-left: 11px;
}
.leaflet-marker-icon {
    transform: translate3d(495px, 474px, 0px);
}